@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .font-thin {
    font-variation-settings: "wght" 100;
    font-stretch: 50%;
  }
  .font-extralight {
    font-variation-settings: "wght" 200;
    font-stretch: 50%;
  }
  .font-light {
    font-variation-settings: "wght" 300;
    font-stretch: 50%;
  }
  .font-normal {
    font-variation-settings: "wght" 400;
    font-stretch: 60%;
  }
  .font-medium {
    font-variation-settings: "wght" 500;
    font-stretch: 60%;
  }
  .font-semibold {
    font-variation-settings: "wght" 600;
    font-stretch: 70%;
  }
  .font-bold {
    font-variation-settings: "wght" 700;
    font-stretch: 80%;
  }
  .font-extrabold {
    font-variation-settings: "wght" 800;
    font-stretch: 80%;
  }
  .font-black {
    font-variation-settings: "wght" 900;
    font-stretch: 100%;
  }
  .background-animate {
    background-size: 400%;

    -webkit-animation: GradientAnimation 10s ease-in-out infinite;
    -moz-animation: GradientAnimation 10s ease-in-out infinite;
    animation: GradientAnimation 10s ease-in-out infinite;
  }
  .dborder {
    border-width: 1.5px;
  }

  @keyframes GradientAnimation {
    0%,
    100% {
      background-position: 0% 100%;
    }
    50% {
      background-position: 100% 0%;
    }
  }
}
