@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .font-thin {
        font-variation-settings: 'wght' 100;
        font-stretch: 35%;
    }
    .font-extralight {
        font-variation-settings: 'wght' 200;
        font-stretch: 45%;
    }
    .font-light {
        font-variation-settings: 'wght' 300;
        font-stretch: 45%;
    }
    .font-normal {
        font-variation-settings: 'wght' 400;
        font-stretch: 50%;
    }
    .font-medium {
        font-variation-settings: 'wght' 500;
        font-stretch: 50%;
    }
    .font-semibold {
        font-variation-settings: 'wght' 600;
        font-stretch: 60%;
    }
    .font-bold {
        font-variation-settings: 'wght' 700;
        font-stretch: 75%;
    }
    .font-extrabold {
        font-variation-settings: 'wght' 800;
        font-stretch: 75%;
    }
    .font-black {
        font-variation-settings: 'wght' 900;
        font-stretch: 75%;
    }
}
